#cabecera{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 16px;
}
#cabecera li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#cabecera li{
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

/* Estilo del fomulario de la cabecera */

#ingreso div > input{
    height: 30px;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}
#ingreso div{
    width: 210px;
    text-align: center;
}
#ingreso{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
#contenedor_login{
    background-color: #000;
    height: 50px;
}
form input, form button{
    
}