body{
    font-family: Arial, Helvetica, sans-serif;
}
body > header{
    text-align: center;
}
img{
    width: 100%;
}
header{
    margin:0;
}
nav{
    background-color: black;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 20px;
    margin: 0;
}
nav ul li{
    padding: 10px 70px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#contenedor_padre{
    width: 80%;
    height: 500px;
    margin: 0 10%;
}
