#ingreso div > input{
    height: 30px;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}
#ingreso div{
    width: 210px;
    text-align: center;
}
#ingreso{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
#contenedor_login{
    background-color: #000;
    height: 50px;
}