#filtros{
    width: 20%;
    float: left;
}
#productos{
    margin-left: 20%;
}
#contenedor_productos{
    display: flex;
    flex-wrap: wrap;
}

#productos > section h1{
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 22px;
    padding-bottom: 8px;
    border-bottom: solid 1px #ccc;
}
.productos{
    text-decoration: none;
    box-sizing: border-box;
    width: 20%;
    padding: 24px 0 12px 22px;
    margin: 0 25px;
}
.productos img{
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
}
#agregar img{
    width: 192.795px;
    height: 210px;
}
#agregar{
    padding: 10px;
}
#nombre{
    font-size: 16px;
    margin-bottom: 12px;
    color: #000;
}
#precio #precio1{
    color: #ea2840;
    font-size: 14px;
    font-family: "Helvetica Neue","Segoe UI",Lucida,Arial,sans-serif;
}
#precio #precio2{
    color: #ea2840;
    font-weight: bold;
    font-size: 20px;
    font-family: "Helvetica Neue","Segoe UI",Lucida,Arial,sans-serif;
}
.productos:hover{
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all .2s;
}
.productos:hover #nombre span{
    text-decoration: underline;
}

